@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navyblue: var(--navyblue);
  --color-highlight: var(--highlight);
  --font-shadow: var(--font-shadow);
  --image-squiggle: var(--squiggle);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --navyblue: #0b186d;
    --highlight: #97d8fc;
    --font-shadow: "Caveat", cursive;
    --font-weight: 600;
    --font-style: normal;
    --squiggle: url("/squiggle.svg");
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
